<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTI Simulations</title>
    <link rel='stylesheet' href='/assets/style.css'/>
</head>
<body>
    <h3 class="title">UEF MCA CTI Agent Simulator</h3>
    <div class="loginDetails">
        <a href="/cti-simulator/pages/client-app">Client App</a> |
        <a href="/cti-simulator/pages/cti-admin">CTI Admin</a>
    </div>

    <div style="width: 800px; margin: 0 auto;">
        <ul>
            <li>
                <a href="/cti-simulator/pages/client-app">Client App</a> This can he loaded into MCA Toolbar
            </li>
            <li>
                <a href="/cti-simulator/pages/cti-admin">CTI Admin</a> End user page
            </li>
        </ul>
    </div>
</body>
</html>
