<html>
  <head>
    <style>
      button {
        margin: 0 0.2rem;
      }
    </style>
    <script
      type="text/javascript"
      src="https://eaa.fa.us1.oraclecloud.com/crmUI/js/mcaInteractionV1.js"
    ></script>
    <script type="text/javascript">
      // testAgent.html?oraParentFrame=test&oraTbName=test

      function callGetConfiguration() {
        svcMca.tlb.api.getConfiguration(function (response) {
          if (response.result == "success") {
            alert("Success! Configuration is: " + response.configuration);
          } else {
            alert("Operation finished with error: " + response.error);
          }
        });
      }

      function inboundCallNotification() {
        var inData = {};
        inData.SVCMCA_ANI = "5551234";
        inData.SVCMCA_CONTACT_ID = "1234567890";
        svcMca.tlb.api.newCommEvent(
          "PHONE",
          "ORA_SERVICE",
          "12345-1234-67890",
          inData,
          null,
          function (response) {
            if (response.result == "success") {
              console.log(
                "Customer: " +
                  response.outData.SVCMCA_CONTACT_NAME +
                  " (" +
                  response.outData.SVCMCA_CONTACT_ID +
                  ")"
              );
              console.log(
                "Account: " +
                  response.outData.SVCMCA_ORG_NAME +
                  " (" +
                  response.outData.SVCMCA_ORG_ID +
                  ")"
              );
              alert("Success! Results available in log.");
            } else {
              alert("Operation finished with error: " + response.error);
            }
          },
          "ORA_SVC_PHONE"
        );
      }

      function startCommEvent() {
        var inData = {};
        inData.SVCMCA_ANI = "5551234";
        inData.SVCMCA_CONTACT_ID = "1234567890";
        inData.SVCMCA_CONTACT_NAME = "John Smith";
        inData.createSr = "yes";
        svcMca.tlb.api.startCommEvent(
          "PHONE",
          "ORA_SERVICE",
          "12345-1234-67890",
          inData,
          function (response) {
            if (response.result == "success") {
              console.log(
                "Created service request: " + response.SVCMCA_SR_NUMBER
              );
              alert("Success! Results available in log.");
            } else {
              alert("Operation finished with error: " + response.error);
            }
          },
          "ORA_SVC_PHONE"
        );
      }

      function closeCommEvent() {
        var inData = {};
        inData.SVCMCA_ANI = "5551234";
        inData.SVCMCA_CONTACT_ID = "1234567890";
        inData.SVCMCA_CONTACT_NAME = "John Smith";
        svcMca.tlb.api.closeCommEvent(
          "PHONE",
          "ORA_SERVICE",
          "12345-1234-67890",
          inData,
          "WRAPUP",
          function (response) {
            if (response.result == "success") {
              alert("Success! Call ended.");
            } else {
              alert("Operation finished with error: " + response.error);
            }
          },
          "ORA_SVC_PHONE"
        );
      }

      function transferCommEvent() {
        var inData = {};
        inData.SVCMCA_ANI = "5551234";
        inData.SVCMCA_CONTACT_ID = "1234567890";
        inData.SVCMCA_CONTACT_NAME = "John Smith";
        inData.transferredId = "5550987";
        svcMca.tlb.api.transferCommEvent(
          "PHONE",
          "ORA_SERVICE",
          "12345-1234-67890",
          inData,
          function (response) {
            if (response.result == "success") {
              alert("Success! Call transferred to other agent.");
            } else {
              alert("Operation finished with error: " + response.error);
            }
          },
          "ORA_SVC_PHONE"
        );
      }

      function getCustomerData() {
        var inData = {};
        inData.SVCMCA_ANI = "5551234";
        inData.SVCMCA_CONTACT_ID = "1234567890";
        svcMca.tlb.api.getCustomerData(
          "PHONE",
          "ORA_SERVICE",
          "12345-1234-67890",
          inData,
          null,
          function (response) {
            if (response.result == "success") {
              console.log(
                "Customer: " +
                  response.outData.SVCMCA_CONTACT_NAME +
                  " (" +
                  response.outData.SVCMCA_CONTACT_ID +
                  ")"
              );
              console.log(
                "Account:" +
                  response.outData.SVCMCA_ORG_NAME +
                  "(" +
                  response.outData.SVCMCA_ORG_ID +
                  ")"
              );
              alert("Success! Results available in log.");
            } else {
              alert("Operation finished with error: " + response.error);
            }
          },
          "ORA_SVC_PHONE"
        );
      }

      function onOutgoingEvent() {
        svcMca.tlb.api.onOutgoingEvent(
          "PHONE",
          "ORA_SERVICE",
          function (response) {
            console.log("Calling: " + response.SVCMCA_ANI);
            console.log("Contact name: " + response.SVCMCA_CUSTOMER_NAME);
            alert("Initiating outgoing call, see information in the log.");
          },
          "ORA_SVC_PHONE"
        );
      }
    </script>
  </head>
  <body>
    <input
      type="button"
      value="Configuration"
      onclick="callGetConfiguration()"
    />
    <input
      type="button"
      value="Get customer data"
      onclick="inboundCallNotification()"
    />
    <input type="button" value="Call started" onclick="startCommEvent()" />

    <input type="button" value="End call" onclick="closeCommEvent()" />

    <input
      type="button"
      value="Notify transfer"
      onclick="transferCommEvent()"
    />

    <input
      type="button"
      value="Get customer data"
      onclick="getCustomerData()"
    />

    <input
      type="button"
      value="Register outcall listener"
      onclick="onOutgoingEvent()"
    />
  </body>
</html>
