<html>
  <head>
    <script
      type="text/javascript"
      src="https://eaa.fa.us1.oraclecloud.com/crmUI/js/mcaInteractionV1.js"
    ></script>
    <script type="text/javascript">
     // testAgent.html?oraParentFrame=test&oraTbName=test

      function callGetConfiguration() {
        svcMca.tlb.api.getConfiguration(function (response) {
          if (response.result == "success") {
            alert("Success! Configuration is: " + response.configuration);
          } else {
            alert("Operation finished with error: " + response.error);
          }
        });
      }

    </script>
  </head>
  <body>
    <input
      type="button"
      value="Configuration"
      onclick="callGetConfiguration()"
    />
  </body>
</html>
